In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import bar_chart_race as bcr

On charge notre dataset en temps que time series

In [35]:
data_nuclear = pd.read_csv('./Nuclear_warheads 1945-2022 per country.csv', index_col='Year', parse_dates=True)
data_nuclear.head()

,United States,Russia,United Kingdom,France,China,Israel,India,Pakistan,North Korea
Year,,,,,,,,,
1945-01-01,2,0,0,0,0,0,0,0,0
1946-01-01,9,0,0,0,0,0,0,0,0
1947-01-01,13,0,0,0,0,0,0,0,0
1948-01-01,50,0,0,0,0,0,0,0,0
1949-01-01,170,1,0,0,0,0,0,0,0

On vérifie rapidement qu'on a aucune valeur manquante

In [23]:
data_nuclear.isnull().count()

United States     78
Russia            78
United Kingdom    78
France            78
China             78
Israel            78
India             78
Pakistan          78
North Korea       78
dtype: int64

In [24]:
data_nuclear.dtypes

United States     int64
Russia            int64
United Kingdom    int64
France            int64
China             int64
Israel            int64
India             int64
Pakistan          int64
North Korea       int64
dtype: object

In [37]:
bcr.bar_chart_race(
    df = data_nuclear,
    cmap='dark12',
    title='Number of nuclear weapons per country', 
    dpi=600,
    filename = 'nuclear.mp4'
    )

C:\Users\pc\anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
C:\Users\pc\anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))

## Visualisation des données
On commence par un graphe représentant l'évolution du nombre d'armes nucléaire pour chaque pays